.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-btn {
  margin-left: auto;
}
.full-width {
  width: 100%;
  display: block;
}
.active-checkbox {
  display: block;
  margin: 4px 0 8px;
}